.App {
  margin: -20px -10px;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  box-sizing: border-box;
}

.rosa {
  background-color: #ffc1fb;
  color: #1F1D36;
}

.celeste {
  background-color: #8ebcc6;
  color: #1F1D36;
}

.ebano {
  background-color: #4e2727;
  color: whitesmoke;
}

.nera {
  background-color: #1F1D36;
  color: rgb(255, 253, 234);
}

.nessuna {
  background-color: rgb(127, 0, 0);
  color: #d7d7d7;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  color: whitesmoke;
  background-color: blueviolet;
  box-shadow: 0px 0px 5px 2px rgb(163, 129, 129);
}

button:hover {
  background-color: rgb(170, 122, 215);
  color: black;
  cursor: pointer;
}

button:active {
  background-color: rgb(111, 0, 215);
  color: black
}

#avatar {
  position: relative;
}

#avatar * {
  position: absolute;
  top: 0;
  left: 0;
}

#face {
  z-index: 1;
  height: 500px;
}

#face:hover {
  cursor: pointer;
  height: 550px;
}