* {
}

body {
  background: url("../public/images/bgs/app.jpg") no-repeat center center fixed;
}

.App {
  margin: -20px -10px;
  padding-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  box-sizing: border-box;

}

.rosa {
  backdrop-filter: brightness(0.75) contrast(1.6) hue-rotate(300deg);
  color: #1F1D36;
}

.celeste {
  backdrop-filter: brightness(0.8) contrast(1.2) hue-rotate(120deg);
  color: #1F1D36;
}

.ebano {
  backdrop-filter: invert(8) brightness(1) contrast(1) hue-rotate(170deg);
  color: whitesmoke;
}

.nera {
  backdrop-filter: invert(9) brightness(0.75) contrast(1.4) hue-rotate(50deg);
  color: rgb(255, 253, 234);
}

.nessuna {
  backdrop-filter: invert(9) brightness(1.3) contrast(1.7) hue-rotate(120deg);
  color: #d7d7d7;
}

button:hover {
  background-color: rgb(170, 122, 215);
  color: black;
  cursor: pointer;
}

button:active {
  background-color: rgb(111, 0, 215);
  color: black
}


#header > :first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 2;
}

#header > :first-child > * {
  display: flex;
  height: 130px;
  font-size: large;
  margin: 0px 20px;
  justify-content: space-around;
  align-items: center;
}

#avatar {
  position: relative;
  width: auto;
  height: 450px;
  margin-bottom: 51px;
}

#avatar > * {
  position: absolute;
}

#avatar h1 {
  z-index: 1;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 0px;
  font-size: 400%;
  color: whitesmoke;
  text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;;
}

.infos {
  z-index: 1;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: -25px;
  color: whitesmoke;
  text-shadow: 0 0 6px black, 0 0 6px black, 0 0 6px black;;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-wrapper {
  display: flex;
  flex-direction: row;
}

.stat-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 2px 2px 2px black;
  background-color: #fff;
  margin: 5px;
}

.stat-tag {
  height: auto;
  font-size: 12px;
  line-height: 0;
  border-radius: 5px 5px 0px 0px;
  border-collapse: collapse;
  border: 1px solid black;
}

.skill-tag {
  width: 70px;  
  height: auto;
  font-size: 10px;
  border-radius: 5px;
  border-radius: 5px 5px 0px 0px;
  border-collapse: collapse;
  line-height: 0;
}

.skill-content, .stat-content {
  background-color: white;
  height: auto;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  border-collapse: collapse;
  font-size: 12px;
}

#face {
  z-index: 1;
  height: 600px;
  top: -100px;
  left: -20px;
  filter:drop-shadow(0px -1px 2px #fff)
}

#bg {
  width: 100%;
  top: 0;
  left: 0;
  height: 500px;
  object-fit: cover;
  object-position: 50% 50%; 
}

#face:hover {
  cursor: pointer;
  filter:drop-shadow(0px -4px 4px #fff)
}

#face:hover + #bg {
  filter:blur(3px)
}

.blurtrue {
  filter:blur(3px)
}

/* Character Buttons */

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Home * {
  width: 200px;
  filter:drop-shadow(0px 0px 2px #fff)
}

.Home *:hover {
  filter:drop-shadow(0px 0px 4px #fff)
}

.navigator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigator * {
  width: 65px;
  filter:drop-shadow(0px 0px 2px #fff)
}

.navigator *:hover {
  filter:drop-shadow(0px 0px 4px #fff)
}

#home {
  width: 55px; 
  margin-right: 10px; 
  filter:drop-shadow(0px 0px 2px #fff)
}

#home:hover {
  filter:drop-shadow(0px 0px 4px #fff);
}

.icon {
  width: 100px;
  margin: 5px;
  filter:drop-shadow(0px 0px 4px #fff)
}

.icon:hover {
  cursor: pointer;
  filter:drop-shadow(0px 0px 8px #fff)
}

.active {
  filter:
  drop-shadow(0px 0px 4px orange)
  drop-shadow(0px 0px 4px orange)
  drop-shadow(0px 0px 4px orange)
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
  align-items: center;
}

.iconTitle {
  font-size: 16px;
  min-width: 150px;
}

.gauges {

  right: 5%;
  top: 5%;
}

.gauges > div {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gauge {
  margin: 10px;
  position: relative;
  width: 50vw;
  height: 40px;
  border-radius: 20px;
  background-color: none;
  border: 4px solid black;
  z-index: 2;
  overflow: hidden;
  filter: drop-shadow(0px 0px 4px black);
}

.outer-gauge {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauge-text {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 20px;
  color: whitesmoke;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) 
}

.bar {
  width: 150%;
  height: 150%;
  margin-top: -10px;
  margin-left: 0px;
}

.pf {
  background-image: url("../public/images/bgs/pf.jpg");
  background-size: cover;
}

.mana {
  background-image: url("../public/images/bgs/mana.jpg");
  background-size: cover;
  max-width: 800px;
}

.luc {
  background-image: url("../public/images/bgs/luc.jpg");
  background-size: cover;
}

.btn {
  position: absolute;
  height: 50px;
  padding: 10px;
  border-style: 3px solid black;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  box-shadow: 0px 0px 5px 2px rgb(163, 129, 129);
}

.left {
  margin: -2px 0 0 -2px;
  padding-right: 20px;
  border-radius: 20px 0 0 20px;
  left: 0;
}
.right {
  margin: -2px -2px 0 0;
  padding-left: 20px;
  border-radius: 0 20px 20px 0;
  right: 0;
}

.dial-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 3;
}

.inner-dial {
  position: relative;
}

.dial {
  width: 100px;
  z-index: 3;
  filter: drop-shadow(0px 0px 4px black)
}

.dial-text {
  font-size: 200%;
  filter: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) 
}

.dropdown-outer {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.dropdown-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  border: 2px solid whitesmoke;
  background-color: rgba(0, 0, 0, 50%);
}

.dropdown-text {
  justify-self: center;
  margin-left: 20px;
  font-size: 40px;
  height: auto;
  color: whitesmoke;
}

.dropdown-inner {
  background-color: rgba(0, 0, 0, 20%);
  padding: 50px;
}

.dropdown-inner > * {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  margin: 0;
	padding: 0;
}

.card > img {
  width:150px;
}